@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

:root {
    --main: rgba(33, 117, 255, 1),
}

body {
    font-family: "El Messiri", sans-serif;
}

header {
    background: linear-gradient(-90deg, #051A38 -13.73%, rgba(5, 26, 56, 0.20) 116.96%), url(../images/filter.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

nav {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-button {
    display: flex;
    width: 164px;
    height: 54px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.profile-button span {
    margin-top: 5px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.links li {
    list-style: none;
    padding: 0 15px;
}

.links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

.links li a:hover, .links li a.active {
    color: rgba(33, 117, 255, 1);
}

.lang-switcher {
    display: flex;
    height: 54px;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.12);
    margin: 0px 20px;
}

.lang-switcher a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    transition: linear 0.3s ease-in;
}

.lang-switcher .active {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px 30px;
}

.header-description {
    padding: 200px 84px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    align-self: stretch;
}

.subtitle {
    position: relative;
    padding: 3px;
}

#header-title {
    color: #D6D6D6;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    float: right;
}

#header-title::before {
    content: '';
    position: absolute;
    background-color: #D6D6D6;
    width: 95px;
    height: 4%;
    bottom: 0;
    top: 16px;
    right: 107px;
}

#header-main-title {
    color: #FFF;
    text-align: right;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

#header-main-description {
    color: #D6D6D6;
    direction: rtl;
    margin-top: -27px;
    width: 780px;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-links {
    direction: rtl;
    margin-right: -14px;
}

.header-links a {
    margin: 15px;
}

.btn-discover {
    border-radius: 36px;
    padding: 20px 36px;
}

.btn-contact {
    padding: 20px 36px;
    border-radius: 36px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14.5px);
}

.btn-contact img {
    margin: 0px 5px;
}

.about-us-section {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    padding: 30px;
    margin: 130px 83px;
}

.about-us-section .right-side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;
}

.about-us-section .right-side h3 {
    color: #2175FF;
    text-align: right;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-section .right-side p {
    color: #1E1E1E;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 59px;
}

.about-us-cards .card {
    padding: 20px;
    background: rgba(33, 117, 255, 0.06);
    border-radius: 12px;
    margin: 10px;
    border: none;
}

.about-us-cards .card-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about-us-cards .card .card-row .card-count {
    color: #1E1E1E;
    text-align: right;
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
}

.about-us-cards .card .card-row img { 
    width: 58px;
    height: 58px;
}

.about-us-cards .card .card-row .card-count-label {
    color: #1E1E1E;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}

.about-us-section .left-side {
    position: relative;
}

.about-us-section .left-side #image {
    position: relative;
    width: 773px;
    height: 500px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.09%, #000 99.91%), url(../images/values/about-rekaz.png) lightgray 50% / cover no-repeat;
}

.about-us-section .left-side #image img {
    position: absolute;
    top: 206px;
    right: 39px;
}

.about-us-section .left-side #image h3 {
    color: #FFF;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 422px;
    right: 317px;
}

.about-us-section .left-side::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -8px;
    display: block;
    width: 271px;
    height: 153px;
    border-top-right-radius: 23px;
    border-right: 1px white;
    background: #2175FF;
}

.about-us-section .left-side::after {
    content: "";
    position: absolute;
    left: -15px;
    height: 153px;
    width: 455px;
    display: block;
    bottom: 0px;
    z-index: -1;
    border-bottom-left-radius: 23px;
    background: #2175FF;
}